@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here is my test exam in tab Q2, Q3, Q4</p>
    <p>Q1 is locate in console app project</p>
</div>
